<html>
<head>
    <%block name="head">
        <link rel="StyleSheet" href="/static/bikecal/style.css" type="text/css" media="screen">
    </%block>
</head>

<body>
<div class="header">
    <%block name="header">
        this is the header
    </%block>
</div>

    ${self.body()}

<div class="footer">
    <%block name="footer">
        <div class="copyright" style="text-align: right;" >
            <p>
                Copyright Rusty Brooks 2014-Present
        </div>
    </%block>
</div>

</body>
</html>