##${calendar.update_basic_weeks()}

<%inherit file="base.html" />

<%block name="header"></%block>

<p/>
<br><a href="${ reverse('calendar_summary') }">Summary</a>
<br><a href="${ reverse('graph_cumulative') }">Cumulative Hours Graph</a>
<br><a href="${ reverse('graph_power') }">Power Graph</a>

<div style="width: 600px; height: 200px;">
${graph_script}
</div>

<%
    cum_hours = 0
    mmf_cum_hours = 0
%>

<p/>
<table border="1" cellspacing="0" cellpadding="4">
    <tr>
        % for i in range(8):
        <td width='80px;'></td>
        % endfor
    </tr>

    % for w in calendar.weeks():
        % if w.is_this_week():
            <a name="current"></a>
        % endif        <tr>
            <td colspan="8">
                <div style="">
                    <span style="text-align: left">
                        ${w.week_start_date}
                        ${w.weekly_hours()} hours
                        ## (${"%0.1f" % (calendar.strava_workout_hours(w.week_start_date), )} hours)
                    </span>
                    <span style="text-align: right; float: right">
                        <%
                            cum_hours += w.weekly_hours()
                            mmf_cum_hours += calendar.strava_workout_hours(w.week_start_date)
                        %>
                        <a href="${ reverse('reset_week', kwargs={'week_id': w.id})}">R</a>
                    </span>
                </div>
                <div>
                    <span class="races">
                        ${'<br>'.join([str(r.name) for r in w.races()])}
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            % for daycount, elist  in enumerate(calendar.entries_by_week(w)):
                <td valign="top" class="${'today' if elist and elist[0].is_today() else 'nottoday'}">

                    % for e in elist:
                        % if e.scheduled_length > 0.0:
                            <div class="entry" style="width: 80px">
                                <a href="${ reverse('update_entry', kwargs={'entry_id': e.id}) + "?" + urllib.urlencode({'increase_date': -1}) }">&lt;&lt;</a>
                                <a href="${ reverse('update_entry', kwargs={'entry_id': e.id}) + "?" + urllib.urlencode({'increase_date': 1}) }">&gt;&gt;</a>
                                <br>
                                ${e.scheduled_length} hours
                                <br>
                                % for wo in e.workout_type_list():

                                    <span title="${e.workout_description(wo)[1] | h}">
                                        % if wo == e.workout_type:
                                            <b>${wo}</b>
                                        % else:
                                            <a href="${ reverse('update_entry', kwargs={'entry_id': e.id}) + "?" + urllib.urlencode({'workout_type': wo}) }">${wo}</a>
                                        % endif
                                    </span>

                                % endfor
                            </div>
                        % endif
                    % endfor

                    <font color="#6C6">
                    % for wo in calendar.workouts_from_date(w.week_start_date + datetime.timedelta(days=daycount)):
                        <a href="${reverse('activity', kwargs={'activity_id': wo.activity_id})}">${"%0.1f" % (wo.moving_time / (60.0*60), )}</a><br>
                    % endfor
                    </font>
                    &nbsp;
                </td>
            % endfor

            <td valign="top">
                <%
                    stravas = calendar.strava_workouts(w.week_start_date)
                    hours = calendar.strava_workout_hours(w.week_start_date)
                    dist = sum([s.distance_miles() for s in stravas])
                    elev = sum([s.total_elevation_gain_feet() for s in stravas])
                    if dist > 0:
                        relev = elev / dist
                        speed = dist / hours
                    else:
                        relev = 0
                        speed = 0
                %>
                Hours: ${"%0.1f" % hours} / ${"%0.1f" % w.weekly_hours()}
                % if w.week_start_date <= datetime.date.today():
                    <br>Cum Hours: ${"%0.1f" % (mmf_cum_hours, )} / ${cum_hours}
                % endif
                <br>Dist: ${"%0.0f" % dist} mi
                <br>Spd: ${"%0.1f" % speed} mph
                <br>Elev: ${"%0.0f" % elev} ft
                <br>R-Elev: ${"%0.0f" % relev} ft/mi

            </td>
        </tr>
    % endfor
</table>

<p><br><table border="1" cellspacing="0" cellpadding="4">
    <tr>
        <td>Zone</td>
        <td>HR From</td>
        <td>HR To</td>
        <td>&nbsp;</td>
        <td>Power From</td>
        <td>Power To</td>
    </tr>

    <% lastz = "" %>
    % for z in ["1", "2", "3", "4", "5a", "5b", "5c", "6"]:
        <tr>
            <td>${z}</td>
            <td>${calendar.season.zone_hr(lastz)}</td>
            <td>${calendar.season.zone_hr(z)}</td>
            <td>&nbsp;</td>
            <td>${calendar.season.zone_power(lastz)}</td>
            <td>${calendar.season.zone_power(z)}</td>
            <% lastz = z %>
        </tr>
    % endfor
</table>
