<%inherit file="base.html" />

<%block name="header">
</%block>

<form method="POST">
    <textarea name='query' cols="200" rows="20">${query}</textarea>
    <br>
    <input type="submit" value="Run">
    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
</form>

<table>
    <tr>
        % for c in column_names:
        <th>${c}</th>
        % endfor
    </tr>

    % for row in data:
        <tr>
            % for c in row:
            <td>${c}</td>
            % endfor
        </tr>
    % endfor

    </table>