<%inherit file="base.html" />

<%block name="header"></%block>

<%
week = workouts[0].start_datetime_local.strftime("%W")
summary = {
    'elev': 0, 'dist': 0, 'time': 0, 'kj': 0, 'kj_time': 0, 'cheevos': 0,
}
%>

<table border="1" cellpadding="2" cellspacing="0">
    <tr>
        <th>Date</th>
        <th>Day</th>
        <th>Elapsed</th>
        <th>Moving</th>
        <th>Distance</th>
        <th>Avg Spd</th>
        <th>Avg PWR</th>
        <th>KJ</th>
        <th>Elev Gain</th>
        <th>Elev/Mi</th>
        <th>Avg HR</th>
        <th>Suffer</th>
        <th>Cheevos</th>
    </tr>

    % for wo in workouts:


    % if wo.start_datetime_local.strftime("%W") != week:
    <tr>
        <td colspan="3">Weekly Summary</td>
        <td align="right">${wo.time_formatted(summary['time'])}</td>
        <td align="right">${"%0.1f" % summary['dist']}</td>
        <td align="right">${"%0.1f" % (summary['dist'] / (summary['time']/3600.),)}</td>
        <td align="right">${"%0.0f" % (1000*summary['kj']/summary['kj_time'])}</td>
        <td align="right">${"%0.0f" % summary['kj']}</td>
        <td align="right">${"%0.0f" % summary['elev']}</td>
        <td align="right">${"%0.0f" % (summary['elev']/summary['dist'] if summary['dist'] else 0)}</td>
        <td colspan="2">&nbsp</td>
        <td align="right">${summary['cheevos']}</td>
    </tr>

    <tr><td colspan="13">&nbsp;</td></tr>
    <%
        week = wo.start_datetime_local.strftime("%W")
        summary = {
            'elev': 0, 'dist': 0, 'time': 0, 'kj': 0, 'kj_time': 0,  'cheevos': 0
    }
    %>
    % endif

    <%
        summary['dist'] += wo.distance_miles()
        summary['time'] += wo.moving_time
        summary['elev'] += wo.total_elevation_gain_feet()
        summary['kj'] += wo.kilojoules or 0
        summary['kj_time'] += wo.moving_time if wo.kilojoules else 0
        summary['cheevos'] += wo.achievement_count or 0
    %>

    <tr>
        <td>${wo.start_datetime_local.strftime('%Y-%m-%d %H:%M')}</td>
        <td>${wo.start_datetime_local.strftime('%a')}</td>
        <td align="right">${wo.elapsed_time_formatted()}</td>
        <td align="right">${wo.moving_time_formatted()}</td>
        <td align="right">${"%0.1f" % wo.distance_miles()}</td>
        <td align="right">${"%0.1f" % wo.average_speed_miles()}</td>
        <td align="right">${"%0.0f" % wo.average_watts if wo.average_watts else ""}</td>
        <td align="right">${"%0.0f" % (wo.kilojoules or 0)}</td>
        <td align="right">${"%0.0f" % wo.total_elevation_gain_feet()}</td>
        <td align="right">${"%0.0f" % (wo.total_elevation_gain_feet() / wo.distance_miles() if wo.distance_miles() else 0, )}</td>
        <td align="right">${("%0.0f" % wo.average_heartrate) if wo.average_heartrate else ''}</td>
        <td align="right">${wo.suffer_score or ''}</td>
        <td align="right">${wo.achievement_count}</td>
    </tr>
    % endfor
</table>